{# -*- mode:web; web-mode-markup-indent-offset:2; -*- ex: set tabstop=2 expandtab: #}
{# DataJukeboxBundle\Resources\views\DataJukebox\popup.html.twig #}

{% block DataJukebox_popupContainer -%}
  <DIV ID="DataJukebox_popupContainer" STYLE="POSITION:absolute;DISPLAY:none;"><DIV ID="DataJukebox_popupContainerSpacer"></DIV><DIV CLASS="popup" ID="DataJukebox_popupOverlay"></DIV></DIV>
{% endblock DataJukebox_popupContainer -%}
